@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-white: #fef9ed;
  --color-primary: #303749;
  --color-secondary: rgba(48, 55, 73, 0.6);
  --color-green: #6c943c;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-raleway bg-white my-5 text-primary;
  }

  h1 {
    @apply text-[27px] leading-[1.4] font-semibold;
  }
  h2 {
    @apply text-[24px] leading-[1.4] font-semibold;
  }
  h3 {
    @apply text-[22px] leading-[1.4] font-semibold;
  }
  h4,
  h5 {
    @apply text-[20px] leading-[1.4] font-semibold;
  }
  h6 {
    @apply text-[15px] leading-[1.8];
  }
}

@layer components {
  .text-secondary {
    @apply text-[12px] leading-[1.4] text-secondary;
  }
  .space-x {
    @apply mx-6;
  }
}
