@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-primary: #303749;
  --color-secondary: rgba(48, 55, 73, 0.6);
  --color-green: #6c943c;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-raleway bg-[#fef9ed] my-5 text-primary;
  }

  h1 {
    font-size: 27px !important;
    line-height: 1.4 !important;
    font-weight: 600 !important;
  }
  h2 {
    font-size: 24px !important;
    line-height: 1.4 !important;
    font-weight: 600 !important;
  }
  h3 {
    font-size: 22px !important;
    line-height: 1.4 !important;
    font-weight: 600 !important;
  }
  h4,
  h5 {
    font-size: 20px !important;
    line-height: 1.4 !important;
    font-weight: 600 !important;
  }
  h6 {
    font-size: 15px !important;
    line-height: 1.8 !important;
    font-weight: 400 !important;
  }
}

@layer components {
  .text-secondary {
    @apply text-[12px] leading-[1.4] text-secondary;
  }
  .space-x {
    @apply mx-6;
  }
}
