---
interface Props {
  type?: "light" | "black";
}
const { type = "black" } = Astro.props;
---

<a
  href="#form-section"
  class={"py-3.5 px-5 flex justify-center items-center rounded-xl lg:w-fit" +
    (type === "black" ? " bg-primary text-white" : " bg-white text-primary")}
  >Забронировать место
</a>
