---
import instagramImage from "@assets/icons/instagram.svg";
import logoImage from "@assets/images/logos/logo.png";
import BurderMenu from "./BurderMenu.astro";
import Anchor from "./Anchor.astro";

import { Image } from "astro:assets";
import { links } from "@constants/links";
---

<header class="space-x flex items-center justify-between">
  <Image class="w-[97px] h-[68px]" src={logoImage} alt="logo" loading="eager" />
  <nav class="items-center gap-3 lg:gap-6 xl:gap-8 2xl:gap-10 hidden md:flex">
    {
      links.map((l) => (
        <Anchor href={l.href}>
          <h6>{l.title}</h6>
        </Anchor>
      ))
    }
  </nav>
  <div class="hidden md:flex items-center gap-5">
    <h6 class="font-inter font-normal">
      <a href="tel:+79094755913">+7-909-475-59-13</a>
    </h6>
    <a href="https://www.instagram.com/camping_kshurta" target="_blank">
      <Image
        class="hidden lg:block"
        src={instagramImage}
        alt="instagram-icon"
        loading="eager"
      />
    </a>
  </div>
  <BurderMenu />
</header>
