---
import formImage from "@assets/images/form-ill.png";
import { Image } from "astro:assets";
---

<style>
  @reference "../styles/global.css";

  .phone-input-wrapper[data-error="true"] {
    @apply border-red-500;
  }
  .phone-input-wrapper[data-error="false"] {
    @apply border-primary;
  }
</style>

<section
  id="form-section"
  class="space-x flex flex-col gap-7.5 mb-12.5 lg:flex-row-reverse lg:items-center"
>
  <Image src={formImage} alt="form-ill" class="lg:w-8/12" />

  <article class="flex flex-col gap-7.5">
    <div class="text-center flex flex-col gap-2.5">
      <h2>Оставить заявку</h2>
      <h4 class="font-normal">
        Оставь заявку, чтобы отправиться в это путешествие
      </h4>
    </div>
    <form
      method="POST"
      action="/api/send.php"
      id="form"
      class="flex flex-col gap-5.5"
    >
      <div class="flex flex-col gap-5">
        <div
          class="flex flex-col gap-1 px-6 py-2.5 border-2 border-primary rounded-xl focus-within:border-primary/70 transition"
        >
          <label class="text-primary text-[12px]" for="name">Имя</label>
          <input
            required
            id="name"
            name="name"
            placeholder="Иван Иванов"
            type="text"
            class="outline-none border-none"
          />
        </div>

        <div
          class="phone-input-wrapper flex flex-col gap-1 px-6 py-2.5 border-2 border-primary rounded-xl"
          data-error="false"
        >
          <label class="text-primary text-[12px]" for="phonenumber"
            >Телефон</label
          >
          <input
            required
            id="phonenumber"
            name="phonenumber"
            placeholder="+7 (999) 999-99-99"
            type="tel"
            inputmode="tel"
            class="font-inter outline-none border-none"
            autocomplete="tel"
          />
        </div>
      </div>

      <button
        disabled
        type="submit"
        class="py-3.5 px-5 flex items-center justify-center bg-primary text-white rounded-xl hover:bg-primary/90 transition disabled:opacity-50 disabled:cursor-not-allowed"
        >Оставить заявку</button
      >
    </form>
  </article>
</section>

<script>
  import successIcon from "@assets/icons/success.svg";
  import errorIcon from "@assets/icons/error.svg";

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("form") as HTMLFormElement;
    const nameInput = document.getElementById("name") as HTMLInputElement;
    const phoneInput = document.getElementById(
      "phonenumber"
    ) as HTMLInputElement;
    const phoneWrapper = phoneInput.closest(
      ".phone-input-wrapper"
    )! as HTMLElement;
    const submitButton = form.querySelector(
      'button[type="submit"]'
    ) as HTMLButtonElement;

    if (!form || !phoneInput) return;

    nameInput.addEventListener("input", function () {
      const validChars = /[^а-яА-Яa-zA-Z\s\-]/g;
      if (validChars.test(nameInput.value)) {
        nameInput.value = nameInput.value.replace(validChars, "");
      }
    });

    phoneInput.addEventListener("input", function (e) {
      const validChars = /[^0-9+\-\s()]/g;
      if (validChars.test(phoneInput.value)) {
        phoneInput.value = phoneInput.value.replace(validChars, "");
      }

      let value = phoneInput.value.replace(/\D/g, "");
      if (value.length > 11) {
        value = value.slice(0, 11);
        phoneInput.value = phoneInput.value.slice(
          0,
          phoneInput.value.length - 1
        );
      }

      const isValid = /^7\d{10}$/.test(value) || /^8\d{10}$/.test(value);

      phoneWrapper.dataset.error = (!isValid).toString();
      phoneWrapper.classList.toggle("border-red-500", !isValid);
      phoneWrapper.classList.toggle("border-primary", isValid);

      submitButton.disabled = !isValid;
    });

    form.addEventListener("submit", async function (e) {
      e.preventDefault();

      if (!e.target) return;

      const formData = new FormData(form);

      const cleanPhone = phoneInput.value.replace(/\D/g, "");
      formData.set(
        "phonenumber",
        cleanPhone.startsWith("7") ? cleanPhone : "7" + cleanPhone
      );

      const response = await fetch("/api/send.php", {
        method: "POST",
        body: formData,
      })
        .then(async (res) => {
          const result = await res.json();

          if (res.ok) {
            showToast("Письмо отправлено!", "success");
            submitButton.disabled = true;
            phoneWrapper.dataset.error = "false";
            phoneWrapper.classList.remove("border-red-500");
            phoneWrapper.classList.add("border-primary");
            form.reset();
          } else {
            showToast(result.error || "Ошибка отправления!", "error");
          }
        })
        .catch((e) => showToast("Ошибка отправления!", "error"));
    });
  });

  function showToast(message: string, type = "success") {
    const oldToast = document.getElementById("toast");
    oldToast?.remove();

    const icon = type === "success" ? successIcon : errorIcon;

    const toast = document.createElement("div");
    toast.id = "toast";
    toast.innerHTML = `
        <div class="flex items-center justify-center w-fit gap-3 px-3 py-2 rounded-lg shadow-lg opacity-0 -translate-y-4 transition-all bg-white duration-300 pointer-events-none fixed top-4 left-1/2 -translate-x-1/2 z-50">
          <img class="w-8 h-8" src="${icon.src}" alt="error-icon" />
          <h6 class="font-bold">${message}</h6>
        </div>
      `;

    document.body.appendChild(toast);

    requestAnimationFrame(() => {
      const inner = toast.firstElementChild;
      inner?.classList.remove(
        "opacity-0",
        "-translate-y-4",
        "pointer-event-none"
      );
      inner?.classList.add(
        "opacity-100",
        "translate-y-0",
        "pointer-event-auto"
      );
    });

    setTimeout(() => {
      const inner = toast.firstElementChild;
      inner?.classList.remove(
        "opacity-100",
        "translate-y-0",
        "pointer-events-auto"
      );
      inner?.classList.add(
        "opacity-0",
        "-translate-y-4",
        "pointer-events-none"
      );

      inner?.addEventListener("transitionend", () => toast.remove(), {
        once: true,
      });
    }, 3000);
  }
</script>
