---
import firstImage from "@assets/images/rules/first.png";
import secondImage from "@assets/images/rules/second.png";

import { first, second } from "@constants/rules";
import { Image } from "astro:assets";
---

<section id="rules">
  <article class="lg:grid lg:grid-cols-2">
    <Image src={firstImage} alt="first-rules" class="h-full" />
    <div class="bg-primary text-white px-6 py-7.5 flex flex-col gap-5">
      <h2>Что с собой брать?</h2>
      <ul class="ml-3 list-disc marker:text-green flex flex-col gap-2.5">
        {
          first.map((v) => (
            <li>
              <h6>{v}</h6>
            </li>
          ))
        }
      </ul>
    </div>
  </article>

  <article class="lg:grid lg:grid-cols-2">
    <Image src={secondImage} alt="second-rules" class="h-full order-2" />
    <div class="bg-green text-white px-6 py-7.5 flex flex-col gap-5">
      <h2>Правила</h2>
      <ul class="ml-3 list-disc flex flex-col gap-2.5">
        {
          second.map((v) => (
            <li>
              <h6>{v}</h6>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</section>
